<div class="d-flex justify-content-center m-3" *ngIf="group != undefined && manager != undefined">
    <div class="card m-3 border-none" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Name: {{group.name}}</h5>
            <h5 class="card-title">Manager: {{manager.username}}</h5>
            <div *ngIf="members != undefined">
                <ul class="list-group list-group-flush" *ngFor="let member of members">
                    <li class="list-group-item">{{member.username}} {{member.email}}</li>
                </ul>
            </div>

            <div class="d-flex justify-content-center m-3 flex-column">
                <button class="btn btn-primary btn-sm mb-1" *ngIf="isAdminOrManager(group)" (click)="editGroupSchedule(group.id)">Edit Group</button>
                <button class="btn btn-primary btn-sm mb-1" (click)="viewGroupSchedule(group.id)">View group schedule</button>
            </div>
        </div>
      </div>
</div>