<nav class="navbar navbar-light bg-light" *ngIf="isLogged()">
    <ul class="nav nav-pills nav-fill">
        <a class="navbar-brand" href="#">
            <img src="../assets/overtime.png" width="30" height="30" class="d-inline-block align-top" alt="">
            MySchedule
          </a>
        <li class="nav-item">
            <button id="navSchedules" class="nav-link" [ngClass]="{'active': isSchedulesClicked}" (click)="navigateToSchedules()">Schedules</button>
        </li>
        <li class="nav-item">
            <button id="navGroups" class="nav-link" [ngClass]="{'active': isGroupsClicked}" (click)="navigateToGroups()">Groups</button>
        </li>
        <li class="nav-item">
            <button id="navUsers" class="nav-link" [ngClass]="{'active': isUsersClicked}" (click)="navigateToUsers()">Users</button>
        </li>
        <li class="nav-item">
            <button id="navMyProfile" class="nav-link" [ngClass]="{'active': isMyProfileClicked}" (click)="navigateToMyProfile()">My Profile</button>
        </li>
        <li class="nav-item">
            <button id="navCreateUser" class="nav-link" [ngClass]="{'active': isCreateUserClicked}" (click)="navigateToCreateUser()">Create User</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/" (click)="logout()">Logout</a>
        </li>
      </ul>
</nav>