<div class="d-flex justify-content-center m-3" *ngIf="user != undefined">
    <div class="card m-3 border-none" style="width: 18rem;">
        <img src='{{"data:image/jpeg;base64," + user.picture}}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Username: {{user.username}}</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: {{user.email}}</li>
              <li class="list-group-item">Gender: {{user.gender}}</li>
              <li class="list-group-item">Role: {{user.role}}</li>
              <li class="list-group-item">    
                  <p class="card-text">User info: {{user.userInfo}}</p>
              </li>
            </ul>
            <div class="d-flex justify-content-center m-3 flex-column">
                <button class="btn btn-primary btn-sm mb-1" *ngIf="isAdminOrOwner(user.id)" (click)="editProfile(user.id)">Edit profile</button>
                <button class="btn btn-primary btn-sm mb-1" (click)="viewGroupSchedule(user.groupId)">View group schedule</button>
                <button class="btn btn-primary btn-sm" (click)="viewPersonalSchedule(user.id)">View personal schedule</button>
            </div>
        </div>
      </div>
</div>