
<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-pills nav-fill">
        <a class="navbar-brand" href="#">
            <img src="../assets/overtime.png" width="30" height="30" class="d-inline-block align-top" alt="">
            MySchedule
          </a>
        <li class="nav-item">
          <a class="nav-link active" href="/schedules">Schedules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/groups">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
</nav>
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{schedule.group.name}}</h5>
      <p class="card-text">Grupov grafik na ekip 1</p>
      <a href="#" class="btn btn-primary">View schedule</a>
    </div>
  </div>



