<div class="d-flex flex-column justify-content-center align-items-center w-50 vh-75 m-auto">

    <div class="d-flex justify-content-center align-items-center w-100 mb-3">

        <img src="../assets/overtime.png" width="50" height="50" alt="MySchedule">

        <h1 class="text-center">MySchedule</h1>

    </div>

    <form class="d-flex flex-column justify-content-center align-items-center w-100" [formGroup]="loginForm">

        <div class="form-group mb-3 w-50">
            <input class="form-control" type="text" placeholder="Username" formControlName="username" autocomplete="current-username">
        </div>

        <div class="alert alert-danger mb-3 w-50" *ngIf="username.touched && username.errors?.required">
            This field is required!
        </div>

        <div class="input-group mb-3 w-50">
            <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="Password" aria-label="password" formControlName="password" aria-describedby="password-vis">
            <span class="input-group-text fa" id="password-vis" [ngClass]="{'fa-eye-slash': !isPasswordVisible, 'fa-eye': isPasswordVisible}" (click)="togglePasswordVisibility()"></span>
        </div>

        <div class="alert alert-danger mb-3 w-50" *ngIf="password.touched && password.errors?.required">
            This field is required!
        </div>

        <div class="alert alert-danger mb-3 w-50" *ngIf="errorMessage!=null">
            {{errorMessage}}
        </div>

        <button type="submit" class="btn btn-primary btn-lg" (click)="login()">
            Login
        </button>
    </form>
</div>
<app-footer></app-footer>