<div class="d-flex justify-content-center m-3 flex-row flex-wrap" *ngIf="users !== undefined">
    <div *ngFor="let user of users">
        <div class="card text-center m-3" style="width:18rem;">
            <div class="card-body">
              <h5 class="card-title">{{user.username}}</h5>
              <p class="card-text"></p>
              <div class="d-flex justify-content-center flex-column">
                <button class="btn btn-primary btn-sm mb-1" (click)="viewUserProfile(user.id)">View profile</button>
                <button class="btn btn-primary btn-sm" *ngIf="isAdminOrUser(user.id)" (click)="editUser(user.id)">Edit profile</button>
              </div>
            </div>
          </div>
    </div>
</div>
